<h1>Log In</h1>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= form_for :session, url: {action: "create"} do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.submit 'Log In' %>
<% end %>

<%= link_to 'Home', root_path %>
<%= link_to 'Signup', signup_path %>
