
  <body class="text-center" id="form-page">

    <% if flash[:danger] %>
      <div class="danger"><%= flash[:danger] %></div>
    <% end %>

    <%= form_for :session, :html => {class: "form-page"}, url: {action: "create"} do |f| %>
      <%= image_tag("logo", alt: "logo", id: "logo", size: "340x127") %>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <%= f.label :email, class: "sr-only" %>
      <%= f.text_field :email, class: "form-control", placeholder: "Email address", required: true %>
      <%= f.label :password, class: "sr-only" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true %>
      <%= f.submit 'Sign in', class: "btn btn-lg btn-primary btn-block" %>
      <p class="mt-5 mb-3"><%= link_to('Sign up instead', signup_path) %></p>
      <p><%= link_to('Sign in with GitHub', '/auth/github', method: :post) %></p>
    <% end %>



  </body>
