<div class="card-container justify-content-center">
  <div class="card box-shadow" style="width:400px;">
    <img class="company-logo card-img-top" src="https://logo.clearbit.com/<%= @application.company.company_url %>" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="company-name"><%= @application.company_name %></h4>
      <p class="application-date">
        <%= @application.date %>
      </p>
      <% if @application.followup == true && @application.response == "" %>
        <%= @application.followed_up %>
        <%= form_for @application, url: {action: "update"} do |f| %>
          <p><%= f.text_area :response, placeholder: "Enter the response here" %></p>
          <p><%= f.submit "Submit Response" %></p>
        <% end %>
      <% elsif @application.followup == true && @application.response != "" %>
        <p><%= @application.followed_up %></p>
        <p><%= @application.response %></p>
      <% else %>
        <%= @application.not_followed_up %>
        <%= form_for @application, url: {action: "update"} do |f| %>
          <%= f.label :followup, "Check here when you follow up." %>
          <%= f.check_box :followup %>
          <p><%= f.submit "Submit" %></p>
        <% end %>
      <% end %>
      <br>
      <%= button_to "Edit", edit_company_application_path(id: @application.id, company_id: @application.company_id), class: "btn btn-sm btn-outline-secondary", method: :get %>
    </div>
  </div>
</div>
