<%= form_for @application, :html => {class: "form-standard"}, url: {action: "update"} do |f| %>
  <% if @application.date != nil %>
    <h1 class="h3 mb-3 font-weight-normal">Edit <%= @company.name %></h1>
  <% else %>
    <h1 class="h3 mb-3 font-weight-normal">Apply to <%= @company.name %></h1>
  <% end %>
  <%= render "shared/error_messages" %>
  <%= f.label :company_name, "Company name", class: "sr-only" %>
  <%= f.text_field :company_name, class: "form-control", value: @company.name %>
  <%= f.label :date, "Date", class: "sr-only" %>
  <%= f.date_field :date, class: "form-control", placeholder: "Date", required: true %>
  <%= f.label :followup, "Click this button if you have followed up with this company." %>
  <%= f.check_box :followup, class: "form-control", id: "followup-button" %>
  <%= f.label :response, "Response from followup", class: "sr-only" %>
  <%= f.text_area :response, class: "form-control" %>
  <%= f.submit "Submit Application", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
