
  <header>
      <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex">
            <%= image_tag("logo", alt: "logo", size: "170x64") %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link_to("Companies", companies_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Applications", applications_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Add a New Company", new_company_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Sign Out", logout_path, method: :delete, class: "nav-link") %>
            </li>
          </ul>
          </div>
        </div>
      </nav>
    </header>
<%= form_for @application, :html => {class: "form-standard"}, url: {action: "update"} do |f| %>
  <% if flash[:success] %>
    <div class="success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:danger] %>
    <div class="danger"><%= flash[:danger] %></div>
  <% end %>
  <% if @application.date != nil %>
    <h1 class="h3 mb-3 font-weight-normal">Edit <%= @company.name %></h1>
  <% else %>
    <h1 class="h3 mb-3 font-weight-normal">Apply to <%= @company.name %></h1>
  <% end %>
  <%= f.label :company_name, "Company name", class: "sr-only" %>
  <%= f.text_field :company_name, class: "form-control", value: @company.name %>
  <%= f.label :date, "Date", class: "sr-only" %>
  <%= f.date_field :date, class: "form-control", placeholder: "Date", required: true %>
  <%= f.label :followup, "Click this button if you have followed up with this company." %>
  <%= f.check_box :followup, class: "form-control", id: "followup-button" %>
  <%= f.label :response, "Response from followup", class: "sr-only" %>
  <%= f.text_area :response, class: "form-control" %>
  <%= f.submit "Submit Application", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
