<h1>Applications</h1>

<ul>
<% @applications.each do |application| %>
  <li><%= link_to application.company_name, company_application_path(application.company_id, application.id) %>
  <%= application.date %></li>
  <% if application.followup == true %>
    <%= application.followed_up %>
  <% else %>
    <%= application.not_followed_up %>
  <% end %>
<% end %>
</ul>

<button class="show-all">Show all applications</button>

<div id="apps"></div>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".show-all").on("click", function() {
    $.get("/applications" + ".json", function(data) {
      let companies = data.map(c => {
        return `
          <div class="company-info">
            <a href="/companies/${c.company.id}/applications/${c.id}">${c.company_name}</a>
            <p>${c.date}</p>
          </div>`
        }).join(' ');
      $("#apps").html(companies);
    });
  });
});
</script>

<%= link_to("Companies", companies_path) %>
<%= link_to("Sign Out", logout_path, method: :delete) %>
