<div class="app-details">
<div class="company-name"><%= @application.company_name %></div>
<%= @application.date %>
<% if @application.followup == true && @application.response == "" %>
  <%= @application.followed_up %>
  <%= form_for @application, url: {action: "update"} do |f| %>
    <%= f.text_area :response %>
    <%= f.submit "Submit Response" %>
  <% end %>
<% elsif @application.followup == true && @application.response != "" %>
  <%= @application.followed_up %>
  <%= @application.response %>
<% else %>
  <%= @application.not_followed_up %>
  <%= form_for @application, url: {action: "update"} do |f| %>
    <%= f.check_box :followup %>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>
</div>


<%= link_to("Sign Out", logout_path, method: :delete) %>
<%= link_to("Companies", companies_path) %>
<%= link_to("Applications", applications_path) %>
