
  <header>
      <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex">
            <%= image_tag("logo", alt: "logo", size: "170x64") %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link_to("Companies", companies_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Applications", applications_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Add a New Company", new_company_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Sign Out", logout_path, method: :delete, class: "nav-link") %>
            </li>
          </ul>
          </div>
        </div>
      </nav>
    </header>
    <% if flash[:success] %>
      <div class="success"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:danger] %>
      <div class="danger"><%= flash[:danger] %></div>
    <% end %>
    <div class="card-container justify-content-center">
      <div class="card box-shadow" style="width:400px;">
        <img class="company-logo card-img-top" src="https://logo.clearbit.com/<%= @application.company.company_url %>" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="company-name"><%= @application.company_name %></h4>
          <p class="application-date">
            <%= @application.date %>
          </p>
          <% if @application.followup == true && @application.response == "" %>
            <%= @application.followed_up %>
            <%= form_for @application, url: {action: "update"} do |f| %>
              <p><%= f.text_area :response, placeholder: "Enter the response here" %></p>
              <p><%= f.submit "Submit Response" %></p>
            <% end %>
          <% elsif @application.followup == true && @application.response != "" %>
            <p><%= @application.followed_up %></p>
            <p><%= @application.response %></p>
          <% else %>
            <%= @application.not_followed_up %>
            <%= form_for @application, url: {action: "update"} do |f| %>
              <%= f.label :followup, "Check here when you follow up." %>
              <%= f.check_box :followup %>
              <p><%= f.submit "Submit" %></p>
            <% end %>
          <% end %>
          <br>
        </div>
      </div>
    </div>
