<%= form_for @user, :html => {class: "form-standard"}, url: {action: "update"} do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">My information</h1>
    <%= render "error_messages" %>
    <%= render "shared/flash_messages" %>
    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field :name, class: "form-control", value: @user.name %>
    <%= f.label :email, class: "sr-only" %>
    <%= f.text_field :email, class: "form-control", value: @user.email %>
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, class: "form-control", placeholder: "New password" %>
    <%= f.submit 'Update', class: "btn btn-lg btn-primary btn-block" %>
    <%= link_to 'Delete my account', user_path(@user), method: :delete, class: "btn btn-lg btn-primary btn-block", data: {confirm: "Are you sure about this?"} %>
<% end %>
