<body class="text-center", id="form-page">
  <header>
      <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex">
            <%= image_tag("logo", alt: "logo", size: "170x64") %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link_to("Companies", companies_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Applications", applications_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Add a New Company", new_company_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Sign Out", logout_path, method: :delete, class: "nav-link") %>
            </li>
          </ul>
          </div>
        </div>
      </nav>
    </header>
<%= form_for @user, :html => {class: "form-standard"}, url: {action: "update"} do |f| %>
  <% if flash[:success] %>
    <div class="success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:danger] %>
    <div class="danger"><%= flash[:danger] %></div>
  <% end %>
  <h1 class="h3 mb-3 font-weight-normal"> My information </h1>
    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field :name, class: "form-control", value: @user.name %>
    <%= f.label :email, class: "sr-only" %>
    <%= f.text_field :email, class: "form-control", value: @user.email %>
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, class: "form-control", placeholder: "New password" %>
    <%= f.submit 'Update', class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</body>
