<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Your Companies</h1>
      <p>
        <button class="show-all btn btn-primary my-2" role="button">Show Applications</button>
        <button class="clear-all btn btn-secondary my-2"role="button">Hide Applications</button>
      </p>
      <div id="apps"></div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
      <% @companies.each do |company| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top img-responsive" src="https://logo.clearbit.com/<%= company.company_url %>", alt="Company logo">
              <div class="card-body">
                <p class="card-text"><%= company.name %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= button_to "View", company_path(company), class: "btn btn-sm btn-outline-secondary", method: :get %>
                    <%= button_to "Edit", edit_company_path(company), class: "btn btn-sm btn-outline-secondary", method: :get %>
                    <% if company.applied == false %>
                      <%= button_to "Apply", edit_company_application_path(id: company.id, company_id: company.id), class: "btn btn-sm btn-outline-secondary", method: :get %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
