<div class="card-container justify-content-center">
  <div class="card box-shadow" style="width:400px;">
    <img class="company-logo card-img-top" src="https://logo.clearbit.com/<%= @company.company_url %>" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="company-name"><%= @company.name %></h4>
      <p class="address">
        <div class="company-street-address"><%= @company.address['street_address'] %></div>
        <div class="company-city"><%= @company.address['city'] %></div>
        <div class="company-state"><%= @company.address['state'] %></div>
        <div class="company-zip"><%= @company.address['zip'] %></div>
      </p>
      <div class="company-telephone"><%= number_to_phone(@company.telephone_number) %></div>
      <div class="company-contact"><%= @company.contact_person %></div>
      <div class="company-applied"><% if @company.applied == true %>
        <%= @company.have_applied %>
      <% else %>
        <%= @company.have_not_applied %>
      <% end %></div>
      <br>
      <button class="next-company btn btn-primary" company-id="<%= @company.id %>">Next company</button>
    </div>
  </div>
</div>
