<h1>Companies</h1>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% @companies.each do |company| %>
  <%= link_to company.name, company_path(company) %>
  <%= company.address['street_address'] %>
  <%= company.address['city'] %>
  <%= company.address['state'] %>
  <%= company.address['zip'] %>
  <%= company.telephone_number %>
  <%= company.contact_person %>
<% end %>

<%= link_to("Sign Out", logout_path, method: :delete) %>

<%= link_to("Add a New Company", new_company_path) %>
