<style>
 :root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron h1 {
  padding-top: 80px;
  padding-bottom: 20px;
}

.company-info ul {
  list-style: none;
}

.card-img-top {
  border-bottom: 1px solid black;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
</style>
<body>
  <header>
      <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex">
            <%= image_tag("logo", alt: "logo", size: "170x64") %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link_to("Companies", companies_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Applications", applications_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Add a New Company", new_company_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Sign Out", logout_path, method: :delete, class: "nav-link") %>
            </li>
          </ul>
          </div>
        </div>
      </nav>
    </header>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <% if flash[:success] %>
          <div class="success"><%= flash[:success] %></div>
          <% end %>
          <% if flash[:danger] %>
          <div class="danger"><%= flash[:danger] %></div>
          <% end %>
          <h1 class="jumbotron-heading">Your Companies</h1>
          <p>
            <button class="show-all btn btn-primary my-2" role="button">Show Applications</button>
            <button class="clear-all btn btn-secondary my-2"role="button">Hide Applications</button>
          </p>
          <div id="apps"></div>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          <% @companies.each do |company| %>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top img-responsive" src="https://logo.clearbit.com/<%= company.company_url %>", alt="Company logo">
                  <div class="card-body">
                    <p class="card-text"><%= company.name %></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <%= button_to "View", company_path(company), class: "btn btn-sm btn-outline-secondary", method: :get %>
                        <%= button_to "Edit", edit_company_path(company), class: "btn btn-sm btn-outline-secondary", method: :get %>                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </main>
    <footer class="text-muted">
      <div class="container">
        <p class="float-left">
          <a href="#">My account</a>
        </p>
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>
