<h1>Companies</h1>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% @companies.each do |company| %>
  <%= link_to company.name, company_path(company) %>
  <%= company.address %>
  <%= company.telephone_number %>
  <%= company.contact_person %>
<% end %>

<p>Sign Out</p>

<%= link_to("Add a New Company", new_company_path) %>
