<%= form_for @company, url: {action: "create"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.fields_for :address do |a| %>
    <%= a.label :street_address, "Street Address" %>
    <%= a.text_field :street_address %>
    <%= a.label :city %>
    <%= a.text_field :city %>
    <%= a.label :state %>
    <%= a.text_field :state %>
    <%= a.label :zip_code, "Zip" %>
    <%= a.text_field :zip_code %>
  <% end %>
  <%= f.label :phone %>
  <%= f.telephone_field :telephone_number %>
  <%= f.label :contact_person, "Contact Person" %>
  <%= f.text_field :contact_person %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.submit "Submit Company" %>
<% end %>

<div id="show-company">
  <div class="logo"></div>
  <div class="link"></div>
  <div class="name"></div>
  <div class="street-address"></div>
  <div class="city"></div>
  <div class="state"></div>
  <div class="zip"></div>
  <div class="telephone"></div>
  <div class="contact"></div>
</div>

<%= link_to("Sign Out", logout_path, method: :delete) %>

<script type="text/javascript" charset="utf-8">
    $(function() {
      setupCreateNewCompany();
    });

    function createNewCompany(url, data) {
      $.post(url, data, "json")
       .done(json => {
         let newCompany = new Company(json);
         newCompany.updateHTML();
      });
    };

    class Company {
      constructor(json) {
        this.data = json;
      }
      updateHTML() {
        let companyLink = `<a href="/companies/${this.data.id}">${this.data.name}</a>`;
        let companyUrl = this.data.name.toLowerCase().replace(/\s/g, '') + ".com";
        let companyLogo = `<img src="https://logo.clearbit.com/${companyUrl}">`;

        $(".logo").html(companyLogo);
        $(".link").html(companyLink);
        $(".street-address").text(this.data.address.street_address);
        $(".city").text(this.data.address.city);
        $(".state").text(this.data.address.state);
        $(".zip").text(this.data.address.zip_code);
        $(".telephone").text(this.data.telephone_number);
        $(".contact").text(this.data.contact_person);
      };
    };

    function setupCreateNewCompany() {
      $("form").submit(function(event) {
        event.preventDefault();

        let inputValues = $(this).serialize();
        let url = $(this).attr("action");

        createNewCompany(url, inputValues);
      });
    };
</script>
