
  <header>
      <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex">
            <%= image_tag("logo", alt: "logo", size: "170x64") %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link_to("Companies", companies_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Applications", applications_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Add a New Company", new_company_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Sign Out", logout_path, method: :delete, class: "nav-link") %>
            </li>
          </ul>
          </div>
        </div>
      </nav>
    </header>
<%= form_for @company, :html => {class: "form-standard"}, url: {action: "create"} do |f| %>
  <% if flash[:success] %>
    <div class="success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:danger] %>
    <div class="danger"><%= flash[:danger] %></div>
  <% end %>
  <h1 class="h3 mb-3 font-weight-normal">Add a new company</h1>
  <div id="show-company">
    <div class="logo"></div>
    <div class="link"></div>
    <div class="name"></div>
    <div class="street-address"></div>
    <div class="city"></div>
    <div class="state"></div>
    <div class="zip"></div>
    <div class="telephone"></div>
    <div class="contact"></div>
  </div>
  <%= f.label :name, class: "sr-only" %>
  <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  <%= f.fields_for :address do |a| %>
    <%= a.label :street_address, "Street Address", class: "sr-only" %>
    <%= a.text_field :street_address, class: "form-control", placeholder: "Street address" %>
    <%= a.label :city, class: "sr-only" %>
    <%= a.text_field :city, class: "form-control", placeholder: "City" %>
    <%= a.label :state, class: "sr-only" %>
    <%= a.text_field :state, class: "form-control", placeholder: "State" %>
    <%= a.label :zip_code, "Zip", class: "sr-only" %>
    <%= a.text_field :zip_code, class: "form-control", placeholder: "Zip" %>
  <% end %>
  <%= f.label :phone, class: "sr-only" %>
  <%= f.telephone_field :telephone_number, class: "form-control", placeholder: "Phone" %>
  <%= f.label :contact_person, "Contact Person", class: "sr-only" %>
  <%= f.text_field :contact_person, class: "form-control", placeholder: "Contact person" %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.submit "Submit company", class: "btn btn-lg btn-primary btn-block" %>
<% end %>


<script type="text/javascript">

  $(function() {
    setupCreateNewCompany();
  });

  function createNewCompany(url, data) {
    $.post(url, data, "json")
     .done(json => {
       let newCompany = new Company(json);
       newCompany.updateHTML();
    });
  };

  class Company {
    constructor(json) {
      this.data = json;
    }
    updateHTML() {
      let companyLink = `<a href="/companies/${this.data.id}">${this.data.name}</a>`;
      let companyUrl = this.data.name.toLowerCase().replace(/\s/g, '') + ".com";
      let companyLogo = `<img src="https://logo.clearbit.com/${companyUrl}">`;

      $(".logo").html(companyLogo);
      $(".link").html(companyLink);
      $(".street-address").text(this.data.address.street_address);
      $(".city").text(this.data.address.city);
      $(".state").text(this.data.address.state);
      $(".zip").text(this.data.address.zip_code);
      $(".telephone").text(this.data.telephone_number);
      $(".contact").text(this.data.contact_person);
    };
  };

  function setupCreateNewCompany() {
    $("form").submit(function(event) {
      event.preventDefault();

      let inputValues = $(this).serialize();
      let url = $(this).attr("action");

      createNewCompany(url, inputValues);
    });
  };

</script>
