<p>
<img src="https://logo.clearbit.com/<%= @company.company_url %>">
<%= @company.name %>
<%= @company.address['street_address'] %>
<%= @company.address['city'] %>
<%= @company.address['state'] %>
<%= @company.address['zip'] %>
<%= number_to_phone(@company.telephone_number) %>
<%= @company.contact_person %>
</p>

<%= link_to("Add a New Application", new_company_application_path(@company)) %>
<%= link_to("Companies", companies_path) %>
<%= link_to("Applications", applications_path) %>
<%= link_to("Sign Out", logout_path, method: :delete) %>
