
  <header>
      <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex">
            <%= image_tag("logo", alt: "logo", size: "170x64") %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link_to("Companies", companies_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Applications", applications_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Add a New Company", new_company_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Sign Out", logout_path, method: :delete, class: "nav-link") %>
            </li>
          </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="card-container justify-content-center">
      <% if flash[:success] %>
        <div class="success"><%= flash[:success] %></div>
      <% end %>
      <% if flash[:danger] %>
        <div class="danger"><%= flash[:danger] %></div>
      <% end %>
      <div class="card box-shadow" style="width:400px;">
        <img class="company-logo card-img-top" src="https://logo.clearbit.com/<%= @company.company_url %>" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="company-name"><%= @company.name %></h4>
          <p class="address">
            <div class="company-street-address"><%= @company.address['street_address'] %></div>
            <div class="company-city"><%= @company.address['city'] %></div>
            <div class="company-state"><%= @company.address['state'] %></div>
            <div class="company-zip"><%= @company.address['zip'] %></div>
          </p>
          <div class="company-telephone"><%= number_to_phone(@company.telephone_number) %></div>
          <div class="company-contact"><%= @company.contact_person %></div>
          <div class="company-applied"><% if @company.applied == true %>
            <%= @company.have_applied %>
          <% else %>
            <%= @company.have_not_applied %>
          <% end %></div>
          <br>
          <button class="next-company btn btn-primary" company-id="<%= @company.id %>">Next company</button>
        </div>
      </div>
    </div>


<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".next-company").on("click", function() {
      let companyId = parseInt($(".next-company").attr("company-id")) + 1;
      $.getJSON("/companies/" + companyId + ".json", function(data) {
        let companyUrl = data.name.toLowerCase().replace(/\s/g, '') + ".com";
        $(".company-logo").attr("src", "https://logo.clearbit.com/" + companyUrl)
        $(".company-name").text(data.name);
        $(".company-street-address").text(data.address.street_address);
        $(".company-city").text(data.address.city);
        $(".company-state").text(data.address.state);
        $(".company-zip").text(data.address.zip);
        $(".company-telephone").text(data.telephone_number);
        $(".company-contact").text(data.contact_person);
        if (data.applied === true) {
          $(".company-applied").text("Applied");
        } else {
          $(".company-applied").text("Not yet applied");
        };

        $(".next-company").attr("company-id", data.id);
      });
    });
  });
</script>
